node_modules

src/index.html
dist/index.html

src/main.ts
dist/main.js
dist/main.js.map
dist/main.d.ts

src/renderer.thread.ts
dist/renderer.thread.js
dist/renderer.thread.js.map
dist/renderer.thread.d.ts

src/renderer.ts
dist/renderer.js
dist/renderer.js.map
dist/renderer.d.ts